.full-width {
    width: 100%;
}

.gin-bottles-container {
    margin: 20px;
}

.gin-bottles-title {
    text-align: center;
    color: #00458B;
}

.gin-bottles-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.gin-bottles-table th {
    background: #00458B;
    color: white;
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.gin-bottles-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.ricettaDiv {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 10px 5px 5px rgb(168, 168, 168);
}

    .ricettaDiv:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .ricettaDiv.selected {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-color: #007bff;
    }

.customerPanel{
}

.btn-emphasized {
    background-color: #ffd7d7 !important; 
    border: 1px solid #724141 !important; 
    color: rgb(48, 48, 48)!important;
    font-weight: bold!important;
    font-size: 1.2em!important;
    transition: all 0.3s ease!important;
}

.btn-emphasized:hover {
    background-color: #ff6347!important; 
    color: rgb(192, 214, 255)!important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)!important; 
    transform: scale(1.05)!important; 
}

